@import "../../../../cecref/assets/sass/utils/variables"

aside
  background-color: $cSecond
  color: $cWhite
  padding-top: 50px
  @include PaddingDesktop
  .group-inner-aside
    margin: auto
    max-width: 1650px
    .row-inner-aside
      justify-content: space-between
      .column-inner-aside
        flex-basis: 70%
        .title-col-aside
          font-size: 30px
          font-family: 'RobotoBold'
        .tab-aside
          padding-top: 25px
          table
            transform: translateX(-5px)
            border-collapse: separate
            border-spacing: 5px
            td
              background-color: $cPrinc
              border: none
              padding: 30px 60px
              font-family: 'RobotoBold'
              font-size: 18px
          figcaption
            padding-top: 10px
            font-size: 13px
      .img-aside
        flex-basis: 30%
        height: 350px
        img
          height: 100%
          object-fit: contain

@media (max-width: 1500px)
  aside
    .group-inner-aside
      .row-inner-aside
        .column-inner-aside
          .tab-aside
            table
              td
                padding: 20px 15px

@media (max-width: 1280px)
  aside
    .group-inner-aside
      .row-inner-aside
        .column-inner-aside
          flex-basis: 60%

@media (max-width: 1125px)
  aside
    .group-inner-aside
      .row-inner-aside
        .column-inner-aside
          .tab-aside
            table
              td
                //padding: 20px 15px

@media (max-width: 1000px)
  aside
    @include PaddingMobile
    .group-inner-aside
      .row-inner-aside
        .column-inner-aside
          flex-basis: 100%
          align-items: center
          .title-col-aside
            text-align: center
          .tab-aside
            width: 100%
            padding-top: 35px
            table
              transform: unset
              td
                padding: 30px
                text-align: center
        .img-aside
          display: none

@media (max-width: 1000px)
  aside
    .group-inner-aside
      .row-inner-aside
        .column-inner-aside
          .tab-aside
            table, figcaption
              max-width: 650px
              margin: auto
            table
              tr
                display: flex
                flex-direction: column
                td
                  margin: 2px 0

@media (max-width: 460px)
  aside
    .group-inner-aside
      .row-inner-aside
        .column-inner-aside
          .tab-aside
            table
              td
                padding: 25px

