@import "../../../../cecref/assets/sass/utils/variables"

aside
  background-color: $cSecond
  color: $cWhite
  padding-top: 50px
  padding-bottom: 50px
  @include PaddingDesktop
  .group-inner-aside
    margin: auto
    max-width: 1650px
    .row-inner-aside
      .column-inner-aside
        flex-basis: 60%
        .title-col-aside
          font-size: 30px
          font-family: 'RobotoBold'
        .tab-aside
          padding-top: 25px
          table
            transform: translateX(-5px)
            border-collapse: separate
            border-spacing: 5px
            td
              background-color: $cPrinc
              border: none
              padding: 30px 60px
              font-family: 'RobotoBold'
              font-size: 18px
          figcaption
            padding-top: 10px
            font-size: 13px
      .img-aside
        flex-basis: 40%
        height: 350px
        img
          height: 100%
          object-fit: contain





