@import "../../../../cecref/assets/sass/utils/variables"

//BACKGROUND

@mixin BgContain
  background-repeat: no-repeat
  background-size: contain
  background-position: center

@mixin BgCover
  background-repeat: no-repeat
  background-size: cover
  background-position: center