@import "../../../../cecref/assets/sass/utils/variables"

//BACKGROUND

@mixin BgContain
  background-repeat: no-repeat
  background-size: contain
  background-position: center

@mixin BgCover
  background-repeat: no-repeat
  background-size: cover
  background-position: center


//ARTICLES

@mixin Date
  font-size: 15px
  line-height: 20px
  font-family: 'RobotoBold'
  text-transform: uppercase

@mixin TitleNews
  font-size: 35px
  color: $cPrinc
  font-family: 'RobotoBold'
  margin-bottom: 20px

//WIDTH SCREEN MARGE
@mixin PaddingDesktop
  padding-left: 35px
  padding-right: 35px

@mixin PaddingMobile
  padding-left: 15px
  padding-right: 15px