@import "../../../../cecref/assets/sass/utils/variables"
@import "../../../../cecref/assets/sass/utils/mixins"

.group-header-homepage
  max-height: 65vh
  min-height: 650px
  display: flex
  .wp-block-group__inner-container
    display: flex
    flex-direction: column
    position: relative
    width: 100%
    .figure-img-header-homepage
      display: flex
      height: 100%
      img
        object-fit: cover
        width: 100%
    .row-space-card-header
      max-width: 960px
      position: absolute
      bottom: 0
      gap: 0px
      left: 50%
      transform: translate(-50%, 50%)
      .card-space-homepage
        position: relative
        width: 350px
        height: 280px
        transition: transform 0.3s ease
        &:hover
          transform: scale(1.05)
        &:before
          content: ''
          display: block
          width: 80px
          height: 80px
          margin: 15% auto 0 auto
          @include BgContain
        a
          position: absolute
          left: 0
          right: 0
          bottom: 0
          top: 0
          color: $cWhite
          display: flex
          justify-content: center
          align-items: center
          font-size: 30px
          font-family: 'RobotoBold'
          padding: 35% 15% 0 15%
          text-align: center
      .card-space-work
        background-color: $cPrinc
        &:before
          background-image: url("../icons/icon-espace-de-travail.png")
      .card-space-consultation
        margin: 0 15px
        background-color: $cThird
        &:before
          background-image: url("../icons/icon-espace-consultation.png")
      .card-space-search
        background-color: $cFour
        &:before
          background-image: url("../icons/icon-espace-de-recherche.png")






.section-primary-home
  padding-top: 300px!important
  padding-bottom: 200px!important
  background-color: $cGray2


.section-title-palo-alto
  background-color: $cGray3
  .subtitle-palo-alto
    font-weight: 600


.section-palo-alto
  background-color: $cGray3
  padding-bottom: 75px
  @include PaddingDesktop
  .container-section
    .wp-block-group__inner-container
      .group-img-palo-alto
        .img-palo-alto
          img
            width: 95%!important
            object-fit: contain!important
      .group-content-palo-alto
        .text-with-color-emb
          margin-bottom: 15px
        .row-img-palo-alto
          height: 250px
          margin: 50px 0
          figure, img
            height: 100%
            img
              object-fit: cover

.group-btn-center
  background-color: $cGray3
  .group-btn-therapeutes
    .btn-form-princ
      margin: auto



.group-notions
  .wp-block-group__inner-container
    display: flex
    color: $cWhite
    max-height: 800px
    .group-one-notion
      width: 33%
      flex-wrap: nowrap
      background-color: $cFour
      justify-content: space-between
      .group-loyautes
        height: 50%!important
        justify-content: space-between
      .group-img-loyautes
        height: 40%
        figure, img
          height: 100%
          img
            object-fit: cover
    .group-three-notions
      width: 67%
      gap: unset
      .group-identify, .group-bo-de
        height: 50%
      .group-icon-notions
        background-color: $cBgPink
        height: 100%
        justify-content: center
        padding: 50px
        figure
          height: 70%
          img
            height: 100%
            object-fit: contain
      .group-identify
        background-color: $cFive
        width: 100%
        gap: unset
        .group-membership
          width: 70%
        .group-icon-notions
          width: 30%
          align-content: center
      .row-notions
        align-items: stretch
        width: 100%
        gap: unset
        .group-borders
          background-color: $cText
          width: 45%
        .group-dependency
          background-color: $cPrinc
          width: 55%
    .group-three-notions, .group-one-notion
      .content-notions
        height: 100%
        width: 100%
        flex-wrap: nowrap
        padding: 50px
        position: relative
        h2
          font-size: 40px
          text-transform: uppercase
          font-family: 'RobotoBold'
          line-height: 50px
          letter-spacing: 0.50px
          position: absolute
          top: 50px
        .p
          color: $cWhite
          padding-top: 120px
          max-width: 750px

.group-img-family
  position: relative
  background-color: $cBgPrimary
  z-index: -1
  .img-family
    margin: auto
    max-width: 1650px
    height: 450px
    z-index: 2
    position: relative
    max-height: 450px
    img
      height: 100%
      object-fit: cover
      z-index: 99
      object-position: 0px 25%
.group-img-family:after
  content: ''
  position: absolute
  top: 50%
  z-index: 1
  background-color: $cPrinc
  width: 100vw
  height: 350px
  display: block

.group-wrap-img-family
  background-color: $cPrinc
  .title-wrap-img-family
    padding: 70px 0 35px 0
    color: $cWhite
    font-size: 34px
    text-transform: uppercase
    font-family: 'RobotoBold'
    text-align: center
  .row-wrap-img-family
    background-color: $cPrinc
    justify-content: center
    padding-bottom: 70px
    .icon-img-family
      height: 85px
      width: 85px
      margin: 0 17px
      img
        height: 100%
        object-fit: contain

.group-row-content-family
  padding-top: 100px
  padding-bottom: 70px
  background-color: $cGray2
  @include PaddingDesktop
  justify-content: center
  .inner-container-content-family
    max-width: 1650px
    .wp-block-group__inner-container
      display: flex
      .col-content-family
        flex-basis: 50%
        .title-content-family
          margin-bottom: 20px
      .col-content-family:first-of-type
        margin-right: 25px
      .col-content-family:nth-of-type(2)
          margin-left: 25px

.group-row-content-family:first-of-type
  padding-top: 100px

.row-bottom-content-family
  padding-bottom: 100px

.group-img-second-family
  background-color: $cGray2
  @include PaddingDesktop
  justify-content: center
  .inner-container-img-second-family
    max-width: 1650px
    margin: auto
    .wp-block-group__inner-container
      position: relative
      .img-second-family
        width: 100%
        height: 450px
        img
          width: 100%
          height: 100%
          object-fit: cover
      .group-btn-i-s
        position: absolute
        width: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        .btn-variant
          background-color: $cSecond
          margin: auto
          border: unset
          a
            color: $cWhite
            padding: 0 50px!important

.latest-articles-homepage
  padding-bottom: 50px
  @include PaddingDesktop
  .wp-block-group__inner-container
    display: flex
    @include AdjustContent
    justify-content: center
    gap: 10px
    .bloc-info-latest-articles, .container-view-article
      //flex: 1 1 0
    .bloc-info-latest-articles
      background-color: $cPrinc
      color: $cWhite
      justify-content: center
      align-items: center
      padding: 15px
      flex-basis: 35%
      .title-bloc-latest-articles
        font-size: 35px
        text-align: center
        margin-bottom: 20px
      .btn-form-princ
        border: solid 2px $cWhite
        a
          color: $cWhite

    .container-view-article
      flex-basis: 32.5%
      display: flex
      flex-direction: column
      position: relative
      width: 500px
      height: 500px
      justify-content: flex-end
      .link-latest-article
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        cursor: pointer
        .thumbnail-article
          position: absolute
          object-fit: cover
          height: 100%
          width: 100%
        &:after
          content: ''
          position: absolute
          display: inline-block
          width: 100%
          height: 100%
          background: linear-gradient(0deg, rgba(34,27,105,1) 0%, rgba(51,51,51,0.1) 100%)
      .title-article
        position: relative
      .title-article, .container-date-article
        color: $cWhite
        z-index: 2
        padding: 0 30px 30px 30px
      .title-article
        font-size: 30px
        font-family: 'RobotoBold'
      .container-date-article
        p
          background-color: $cThird
          padding: 15px
          width: 150px
          color: $cWhite
          text-align: center
          border-radius: 5px
.title-partners
  padding-top: 50px

.title-partners, .row-partners
  background-color: $cBgFive2

.row-partners
  padding-bottom: 100px
  figure
    display: flex
    align-items: center
  .img-left
    margin-right: 100px
  .img-right
    margin-left: 100px
  img
    max-width: 350px



@media (max-width: 1550px)
  .group-notions
    .wp-block-group__inner-container
      max-height: 1500px

@media (max-width: 1496px)
  .group-notions
    .wp-block-group__inner-container
      .group-one-notion
        .group-loyautes
          height: 55%!important
        .group-img-loyautes
          height: 35%

@media (max-width: 1480px)
  .section-palo-alto
    .container-section
      .wp-block-group__inner-container
        .group-img-palo-alto
          flex-basis: 55%
        .group-content-palo-alto
          flex-basis: 45%
          .row-img-palo-alto
            height: 200px
            margin: 25px 0

@media (max-width: 1366px)
  .group-notions
    .wp-block-group__inner-container
      .group-three-notions
        .group-identify
          height: 45%
        .group-bo-de
          height: 55%
      .group-one-notion, .group-three-notions
        .content-notions
          h2
            position: unset
            margin-bottom: 20px
          .p
            padding-top: 0px
  .latest-articles-homepage
    padding-bottom: 35px





@media (max-width: 1240px)
  .section-palo-alto
    .container-section
      .wp-block-group__inner-container
        .group-content-palo-alto
          .row-img-palo-alto
            height: 160px

@media (max-width: 1200px)
  .group-notions
    .wp-block-group__inner-container
      .group-one-notion, .group-three-notions
        .content-notions
          padding: 30px
          h2
            font-size: 30px
            line-height: 35px
      .group-one-notion
        .group-img-loyautes
          height: 30%
      .group-three-notions
        .group-identify
          .group-membership
            width: 90%
          .group-icon-notions
            padding: 25px
        .group-bo-de
          .group-borders, .group-dependency
            width: 50%


@media (max-width: 1180px)
  .section-title-palo-alto
    padding-bottom: 50px
    hr
      display: none
    .subtitle-palo-alto
      margin-top: 35px
  .section-palo-alto
    padding-bottom: 0px
    .container-section
      .wp-block-group__inner-container
        flex-direction: column-reverse
        .group-content-palo-alto
          .row-img-palo-alto
            height: 300px
        .group-img-palo-alto
          .img-palo-alto
            img
              max-width: 700px
              margin: auto!important



@media (max-width: 1060px)
  .group-notions
    .wp-block-group__inner-container
      max-height: unset
      flex-direction: column
      .group-one-notion, .group-three-notions
        width: 100%
      .group-one-notion
        .content-notions

          h2
          .p
            text-align: unset
        .group-img-loyautes > figure > img
          max-height: 400px
      .group-three-notions
        .group-identify, .group-bo-de
          height: 450px
          .group-membership, .group-icon-notions, .group-borders, .group-dependency
            flex-basis: 50%
            padding: 50px
            .p
              text-align: unset


@media (max-width: 1000px)
  .group-header-homepage
    .wp-block-group__inner-container
      .row-space-card-header
        width: calc(100vw - 30px)
  .section-primary-home
    padding: 200px 0 0 0!important
  .section-palo-alto
    @include PaddingMobile
  .group-btn-center
    //margin-bottom: 25px
  .group-row-content-family
    @include PaddingMobile
    padding-top: 50px
    padding-bottom: 50px
    .inner-container-content-family
      .wp-block-group__inner-container
        flex-direction: column
        .col-content-family
          margin: unset!important
          &:nth-of-type(2)
            margin-top: 50px!important
  .group-img-second-family
    @include PaddingMobile
    .inner-container-img-second-family
      .wp-block-group__inner-container
        .img-second-family
          height: 300px
  .latest-articles-homepage
    padding: 0px
    .wp-block-group__inner-container
      flex-direction: column
      gap: unset
      .bloc-info-latest-articles
        padding: 30px 15px
      .container-view-article
        width: auto
        flex-basis: unset
        height: 400px
  .title-partners
    padding-bottom: 50px
  .row-partners
    padding-bottom: 50px
    .img-left, .img-right
      img
        width: 250px
    .img-left
      margin-right: 50px
    .img-right
      margin-left: 50px


@media (max-width: 860px)
  .group-header-homepage
    .wp-block-group__inner-container
      .row-space-card-header
        .card-space-homepage
          height: 230px
          &:before
            width: 55px
            height: 55px
          a
            font-size: 26px
            //padding: 35% 10% 0 10%

@media (max-width: 800px)
  .group-notions
    .wp-block-group__inner-container
      .group-three-notions
        .group-identify, .group-bo-de
          height: auto
          flex-direction: column
          .group-membership, .group-icon-notions, .group-borders, .group-dependency
            width: 100%
            align-items: center
            padding: 50px 15px
            h2
              text-align: center
            .p
              text-align: center
          .group-icon-notions > figure > img
            max-height: 200px
      .group-one-notion
        .content-notions
          padding: 50px 15px
          h2
            margin: 0 auto 20px auto
            text-align: center
          .p
            text-align: center


@media (max-width: 781px)
  .row-primary
    .container-section
      .wp-block-group__inner-container
        .group-img-row-50
          .wp-block-group__inner-container
            .img-left
              img

                width: 100%!important
  .group-img-family
    .img-family
      height: unset
      max-height: unset
  .group-title-family
    padding: 50px 15px

@media (max-width: 725px)
  .group-header-homepage
    max-height: unset
    .wp-block-group__inner-container
      .row-space-card-header
        position: unset
        transform: unset
        width: unset
        flex-direction: column
        .card-space-homepage
          width: 100%
          height: 150px
          &:before
            margin: 25px auto
          a
            padding: 60px 0 0 0
  .section-primary-home
    padding: 0px!important

@media (max-width: 700px)
  .row-partners
    .container-section
      .wp-block-group__inner-container
        flex-direction: column
        figure
          margin: unset
        .img-left
          margin-bottom: 50px



@media (max-width: 550px)
  .group-wrap-img-family
    .title-wrap-img-family
      padding: 35px 15px
      font-size: 30px
    .row-wrap-img-family
      padding-bottom: 35px
      .icon-img-family
        height: 50px
        width: 50px
  .row-partners
    .container-section
      .wp-block-group__inner-container
        figure
          img
            width: 200px
