@import "../../../../cecref/assets/sass/utils/variables"

*
  padding: 0
  margin: 0
  text-decoration: none
  list-style: none
  box-sizing: border-box
  scroll-behavior: smooth
  font-family: 'RobotoRegular'

body
  position: relative
  overflow-x: hidden

.site-container
  transition: 0.3s

.p, .p-italic
  color: $cText
  font-size: 18px
  letter-spacing: 0.25px
  line-height: 30px
@media (max-width: 1000px)
  .p, .p-italic
    text-align: justify
.p
  font-family: 'RobotoRegular'

.p-italic
  font-family: 'RobotoBoldItalic'

.site-container
  .section-wrap-primary
    padding: 0 35px
@media (max-width: 1080px)
  .section-wrap-primary
    padding: 0px



.row-primary
  .container-section
    max-width: 1650px
    margin: auto
    .wp-block-group__inner-container
      display: flex
      .group-content-row-50
        flex-basis: 50%
        display: flex
        align-items: center
      .group-img-row-50
        flex-basis: 50%
        .wp-block-group__inner-container
          height: 100%
          .img-left, .img-right
            img
              display: block
              object-fit: cover
              height: 100%
              width: 80%
          .img-left
            img
              margin-right: auto
          .img-right
            img
              margin-left: auto

.section-info-primary
  .container-section
    max-width: 1650px
    margin: auto
    .wp-block-group__inner-container
      display: flex
      position: relative
      .group-content-info-primary
        background-color: $cWhite
        display: flex
        z-index: 2
        width: 65%
        padding: 50px
        .wp-block-group__inner-container
          align-items: center
          .inner-bloc-content-info-primary
            justify-content: center
            flex-wrap: nowrap
            .text-with-color-emb
            .intro-content-therapies
              margin: 25px 0 10px 0
            .group-btn-intro-therapies
              margin-top: 25px
      .group-img-info-primary
        height: 120%
        width: 40%
        right: 0
        bottom: 0
        top: -10%
        position: absolute
        .wp-block-group__inner-container
          height: 100%
          figure
            width: 100%
            img
              height: 100%
              width: 100%
              object-fit: cover


@media (max-width: 1250px)
  .section-info-primary
    .container-section
      .wp-block-group__inner-container
        .group-content-info-primary
          width: 75%
        .group-img-info-primary
          width: 48%


@media (max-width: 1000px)
  .site-container
    .section-info-primary
      .container-section
        .wp-block-group__inner-container
          flex-direction: column
          .group-content-info-primary, .group-img-info-primary
            width: 100%
          .group-content-info-primary
            padding: 50px 15px 25px 15px
            .wp-block-group__inner-container
              .inner-bloc-content-info-primary
                .group-btn-intro-therapies
                  margin: 35px auto 15px auto
          .group-img-info-primary
            position: unset


.row-img-content-50
  justify-content: center
  margin-bottom: 100px
  .container-inner-row-img-content-50
    max-width: 1650px
    width: 100%
    .wp-block-group__inner-container
      display: flex
      height: 100%
      .group-right-row-50, .group-left-row-50
        flex-basis: 50%
        justify-content: center
      .group-right-row-50
        margin-left: 35px
      .group-left-row-50
        margin-right: 35px
      .group-right-row-50, .group-left-row-50
        .img-h-300
          img
            height: 300px!important
        .img-row-50
          height: 100%
          img
            height: 100%
            object-fit: cover

@media (max-width: 1320px)
  .site-container-move
    transform: translateX(-$WidthMenuMobile)
    transition: 0.3s
